html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    font-family: Helvetica;
}

.btn-success {
    background: #5CB85F;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

/* Homepage - Main Section */
.header {
    background-color: #E6E6FA;
    height: 466px;
}
.title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
}
.hero {
    margin-top: 100px;
}
.welcome {
    max-width: 450px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}
.car-img {
    margin-top: 30px;
    position: absolute;
    right: 0;
    background-color: #E6E6FA;
}
.hero img {
    margin-left: 70px;
    width: 80%;  
}

/* Homepage - Our Section Section */
.our-services{
    margin-top: 137px;
    padding-left: 50px;
}
.our-services h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;  
    padding-bottom: 10px;  
}
.our-services p{
    max-width: 450px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.list-services{
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    text-align: left; 
    list-style: none;
}
.list-img {
    padding-right: 16px;
}

/* Homepage - Why Us Section */
.whyus {
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: left;
}
.whyus p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.whyus h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 16px;
}

/* card */
.card-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.card-body{
    padding-left: 25px;
    text-align: left;
}
.card-body p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

/* Homepage - Testimonials Section  */
.testimonial {
    margin-top: 80px;
    text-align: center;
}
.testimonial h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 16px;
}
.testimonial p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

/* OwlCarousel */
.owl-carousel {
    margin-top: 40px;
}
.item {
    background: #F1F3FF;
    height: 270px;
    box-sizing: border-box;
}
.item-img {
    margin-top: 95px;
    margin-bottom: 95px;
    margin-left: 46px;
}
.rate {
    text-align: left;
    line-height: 20px;
    padding-top: 69px;
    padding-bottom: 69px;
    padding-left: 46px;
}
.review {
    font-size: 14px;
    font-weight: 300;
}
.name {
    font-size: 14px;
    font-weight: 600;
}
.star{
    margin-left: -155px;
    height: 16px;
    margin-bottom: 8px;
}

/* Homepage - Getting Started Section  */
.jumbotron {
    margin-top: 110px;
    color: white;
    background: #0D28A6;
    justify-content: center;
    text-align: center;
}
.text-jumbotron {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}
.text-jumbotron h1 {
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}
.text-jumbotron p {
    padding-bottom: 30px;
    max-width: 450px;
    margin-left: 350px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}


/* Homepage - Frequently Asked Question Section  */
.faq {
    margin-top: 105px;
}
.text-faq {
    text-align: left;
}
.text-faq h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.text-faq p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

/* accordion FAQ */
.accordion {
    margin-left: 100px;
}
.accordion-item {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: black;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Homepage - Footer */
.foot {
    margin-top: 120px;
}
.text-foot {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}
.nav-foot {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-left: 30px;
}
.social {
    margin-left: 30px;
}
.copy {
    margin-left: 30px;
}